<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="color: rgb(248, 233, 214);">Roll-Cake</ion-title>
    <!-- menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button style="color: rgb(248, 233, 214);"></ion-menu-button>
    </ion-buttons>
    <!-- back button -->
    <ion-buttons slot="end">
      <ion-back-button deafultHref="home" style="color: rgb(248, 233, 214);"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src="assets/image/roll 1.jpg" alt="">
      <ion-grid>
        <ion-row>
          <ion-col>
            <h5 style="color: rgb(156, 134, 106);">choco hazel roll</h5>
            <br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
          </ion-col>
        </ion-row>
        
        <p style="text-align: end;">$ 15.00</p>
        <ion-button routerLink="/contact" expand="block" color="medium" fill="outline" style="color: rgb(156, 134, 106);">order</ion-button>
      </ion-grid>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <img src="assets/image/home 5.jpg" alt="">
      <ion-grid>
        <ion-row>
          <ion-col>
              <h5 style="color: rgb(156, 134, 106);">strawberry roll</h5>
              <br>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </ion-col>
        </ion-row>
        
        <p style="text-align: end;">$ 21.00</p>
        <ion-button routerLink="/contact" expand="block" color="medium" fill="outline" style="color: rgb(156, 134, 106);">order</ion-button>
      </ion-grid>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img src="assets/image/roll 3.jpg" alt="">
      <ion-grid>
        <ion-row>
          <ion-col>
              <h5 style="color: rgb(156, 134, 106);">matcha milk roll</h5>
              <br>
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
            </ion-col>
        </ion-row>
        <p style="text-align: end;">$ 23.00</p>
        <ion-button routerLink="/contact" expand="block" color="medium" fill="outline" style="color: rgb(156, 134, 106);">order</ion-button>
      </ion-grid>
    </ion-card-header>
  </ion-card>
</ion-content>
