<ion-header>
  <ion-toolbar color="dark">
    <ion-title style="color: rgb(248, 233, 214);">ei-dough</ion-title>
    <!-- menu icon -->
    <ion-buttons slot="start">
      <ion-menu-button style="color: rgb(248, 233, 214);"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color:burlywood">
  <ion-card>

    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col size="4" routerLink="/macaroon">
          <ion-icon name="server-outline" size="large" style="color: darksalmon;"></ion-icon>
          <p>Macaroon</p>
        </ion-col>
        <ion-col size="4" routerLink="/cake">
          <ion-icon name="pie-chart-outline" size="large" style="color: peru;"></ion-icon>
          <p>Cake</p>
        </ion-col>
        <ion-col size="4" routerLink="/dessert-box">
          <ion-icon name="layers-outline" size="large" style="color: darksalmon;"></ion-icon>
          <p>Dessert Box</p>
        </ion-col>
      </ion-row>
      <!-- horizontal line -->
      <hr>
      <ion-row class="ion-text-center">
        <ion-col size="4" routerLink="/waffle">
          <ion-icon name="grid-outline" size="large" style="color: peru;"></ion-icon>
          <p>Waffle</p>
        </ion-col>
        <ion-col size="4" routerLink="/roll-cake">
          <ion-icon name="disc" size="large" style="color: darksalmon;"></ion-icon>
          <p>Roll Cake</p>
        </ion-col>
        <ion-col size="4" routerLink="/contact">
          <ion-icon name="chatbox" size="large" style="color: peru;"></ion-icon>
          <p>Contact</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <!-- section two -->
  <ion-card style="box-shadow: none;">
    <ion-card-header>
      <ion-card-title style="color: rgb(156, 134, 106); text-align: center;">Our Best Menu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/image/home 1.jpg" alt="">
            
          </ion-col>
          <ion-col>
            <img src="/assets/image/home 2.jpg" alt="">
            
          </ion-col>
          <ion-col>
            <img src="/assets/image/home 3.jpg" alt="">
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 style="color: rgb(156, 134, 106);">Lemon Cheesecake</h3>
            <p>ie-dough cheescake has an unique taste, and it's make from selected chesee cream which is imported from belgia, also with fresh taste from lemon it will make your day feel better </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/image/home4.jpg" alt="">
            
          </ion-col>
          <ion-col>
            <img src="/assets/image/home 5.jpg" alt="">
            
          </ion-col>
          <ion-col>
            <img src="/assets/image/home 6.jpg" alt="">
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 style="color: rgb(156, 134, 106);">Strawberry Roll</h3>
            <p>ie-dough cheescake has an unique taste, and it's make from selected chesee cream which is imported from belgia, also with fresh taste from lemon it will make your day feel better </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img src="/assets/image/home.jpg" alt="">
            
          </ion-col>
          <ion-col>
            <img src="/assets/image/macaroon 3.jpg" alt="">
            
          </ion-col>
          <ion-col>
            <img src="/assets/image/macaroon 1.jpg" alt="">
            
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <h3 style="color: rgb(156, 134, 106);">Macaroon Box</h3>
            <p>ie-dough cheescake has an unique taste, and it's make from selected chesee cream which is imported from belgia, also with fresh taste from lemon it will make your day feel better </p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-button routerLink="/contact" expand="block" color="dark" fill="outline" style="color: rgb(156, 134, 106);">Contact Us</ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
